/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 50%;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 18px;
  color: #3626A7;
  width: 400px;
  opacity: 1;
  position: relative;
  left: 50px;
  transform: scaleX(1.2);
  line-height: 2;
}
h2 {
  position: center;
  max-width: 50%;
}
h3 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 18px;
  color: #ef3340;
  width: 550px;
  opacity: 1;
  transform: scaleX(1.2);
  line-height: 2;
  position: relative;
  left: 200px;
}
h4 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 26px;
  color: #809EAC;
  width: 550px;
  opacity: 1;
  transform: scaleX(1.2);
  line-height: 2;
  position: relative;
  left: 200px;
}
header {
  background-color: #ffffff;
  opacity: 1%;
}
.container {
  border: 2px solid white;
}
.rocks {
  background-color: #ef3340;
  width: 800px;
}
.river {
  background-color: #809EAC;
}
desert {
  background-color: #3626A7;
}

/* Padding */
header,
.rocks,
.river,
desert {
  padding: 1em;
}
.holy-grail-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: space-between;
}
.river {
  flex-grow: 1;
}
.rocks,
.ads {
  flex: 0 0 12em;
}

@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  html {
    background-color: #36454F;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
