/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 50%;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: auto;
  color: #3626A7;
  width: 400px;
  opacity: 1;
  position: relative;
  left: 50px;
  transform: scaleX(1.2);
  line-height: 2;
}
h2 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: auto;
  color: #ef3340;
  width: 400px;
  opacity: 1;
  position: relative;
  left: 50px;
  transform: scaleX(1.2);
  line-height: 2;
}
h3 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: auto;
  color: #809EAC;
  width: 400px;
  opacity: 1;
  position: relative;
  left: 50px;
  transform: scaleX(1.2);
  line-height: 2;
}
gif {
  position: sticky;
  max-width: 50%;
}
button {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  background: #3626A7;
  border: none;
  color: #ef3340;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  max-width: 100px;
  transform: scaleX(-1.2);
}
.holy-grail-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: flex-start;
}
.rocks {
  background-color: #ef3340;
  flex-grow: 3;
}
.river {
  background-color: #809EAC;
  flex-grow: 1;
}
.desert {
  background-color: #3626A7;
  flex-grow: 4;
}
.section {
}

.new-class {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: auto;
  box-sizing: border-box;
}
@media screen and (min-width: 1000px) {
  .container {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1000px) {
  html {
    background-color: #36454F;
    background-size: auto;
    background-repeat: no-repeat;
  }
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker {
  display: flex;
}
.ticker__list {
  display: flex;
  margin-top: 20px;
  animation: ticker 5s infinite linear;
}
.ticker__item {
}
body {
  overflow-x: hidden;
}
