/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 50%;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: auto;
  color: #3626A7;
  width: 400px;
  opacity: 1;
  position: relative;
  left: 50px;
  transform: scaleX(1.2);
  line-height: 2;
}
h2 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: auto;
  color: #ef3340;
  width: 400px;
  opacity: 1;
  position: relative;
  left: 50px;
  transform: scaleX(1.2);
  line-height: 2;
}
h3 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: auto;
  color: #809EAC;
  width: 400px;
  opacity: 1;
  position: relative;
  left: 50px;
  transform: scaleX(1.2);
  line-height: 2;
}
desert {
  background-color: #3626A7;
}
gif {
  position: sticky;
  max-width: 50%;
}
button {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  background: #809EAC;
  border: none;
  color: #3626A7;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  max-width: 100px;
  transform: scaleX(-1.2)
}
.holy-grail-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: flex-start;
}
.rocks {
  background-color: #ef3340;
  flex-grow: 2;
}
.river {
  background-color: #809EAC;
  flex-grow: 1;
}
.desert{
  background-color: #3626A7;
  flex-grow: 3;
}
.section {}

.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
}
@media screen and (min-width: 1000px) {
  .container {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1000px) {
  html {
    background-color: #36454F;
    background-size: auto;
    background-repeat: no-repeat;
  }
}
